# Example admin credentials (do NOT commit real secrets)
ADMIN_NAME=ESrom Basazinaw
ADMIN_EMAIL=your-admin@example.com
ADMIN_PASSWORD=ChangeMe123

# Database
POSTGRES_USER=clinic_user
POSTGRES_PASSWORD=clinic_pass
POSTGRES_DB=clinic_db

# Spring
SPRING_PROFILES_ACTIVE=prod
